.Loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: inherit;
  min-height: 100vh; 
  min-width: 100%;
}

.Status {
    width: 6rem;
    height: 6rem;
}

.Alert {
    position: fixed;
    z-index: 100;
    bottom: 5%;
    right: 5%;
    animation: alertAnimation 6s forwards ease-in-out;
}

@keyframes alertAnimation {
    0% {
        opacity: 0;
    }

    2% {
        opacity: 0.5;
    }

    5% {
        opacity: 1;
    }

    85% {
        opacity: 0.5;
    }

    100% {
        opacity: 0;
    }
}